
MYSQL_HOST=your-mysql-host.com
MYSQL_PORT=3306
MYSQL_USER=your_username
MYSQL_PASSWORD=your_password
MYSQL_DATABASE=safra_db


SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=tydaldev@gmail.com
SMTP_PASSWORD=lkbs wdzi ncib vonk
SMTP_FROM_EMAIL=tydaldev@gmail.com
SMTP_FROM_NAME=Safra

SATIM_TERMINAL_ID=
SATIM_MERCHANT_ID=
SATIM_SECRET_KEY=
SATIM_API_URL=https://test.satim.dz/payment/rest


NEXT_PUBLIC_BASE_URL=https://safra.dz
NODE_ENV=production

SESSION_SECRET=your-very-long-random-secret-key-here
